body {
  background-image: url(img/bg2.jpg);
}
.results {
  margin: 50px;
}
.row {
  display: grid;
  grid-template-columns: 70px minmax(100px, 120px) auto auto;
  margin: 30px 0;
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: fit-content;
  animation: enterBottom 0.5s forwards;
}
.row .cell span {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 20px;
  opacity: 0;
  animation: enterBottom 0.2s forwards;
  animation-delay: 0.3s;
  transition: all 0.3s;
}
.row .cell span:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.row .progress-bg {
  margin-left: -10px;
  width: 70px;
  position: absolute;
  height: 42px;
  opacity: 0.6;
  border-radius: 15px;
  z-index: -1;
  transition: all 0.5s, width 0.3s ease-in-out;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  box-shadow: 0 0 5px rgba(79, 172, 254, 0.7);
}
.row:hover .progress-bg {
  opacity: 0.7;
}
@keyframes enterBottom {
  0% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.row:nth-child(2n) .progress-bg {
  background: linear-gradient(to right, #43e97b, #38f9d7);
  box-shadow: 0 0 5px rgba(67, 233, 123, 0.7);
}
.row:nth-child(3n) .progress-bg {
  background: linear-gradient(to right, #fa709a, #fee140);
  box-shadow: 0 0 5px rgba(250, 112, 154, 0.7);
}
.row:nth-child(4n) .progress-bg {
  background: linear-gradient(to right, #fdc830, #f37335);
  box-shadow: 0 0 5px rgba(253, 200, 48, 0.7);
}
